<div class="box">
    <label for="text-input">Mensaje en tiempo Real</label>
    <input id="text-input" class="text-input" type="text">
    <hr>
    <div id="show-text"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>